section#contactUs {
  background: $gray-light;

  .section-headlines {
    color: white;
  }

  .section-intro{
    color: white;
    background-color: $red;
  }

  .panel-group {
    display: flex;
    height: 100%;
    .panel {      
      position: relative;
      flex-grow: 1;
      flex-shrink: 3;
      flex-basis: auto;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: flex .65s ease-in-out;
      background-color: $red;
      &.accelerated {
        transform: translate3d(0,0,0);
        .content-wrapper .content h4 {
          will-change: transform;
        }
        .panel-tint {
          will-change: background-color;
        }
      }      
      &.hover {
        background-color: white;
        flex-grow: 3;
        flex-shrink: 1;        
        .bg-img {
          opacity: 1;
        }
        .panel-tint{
          background-color: rgba(black, .55);
        }
        .content-wrapper .content {
          pointer-events: none;
          h4{
            transform: scale(1.5);
            @media (max-width: $break-mobile){
              transform: scale(1.1);
              width: 50vw;
            }
          }
          p, .contact-btn {
            opacity: 1;
          }
        }
      }
      &.hover-sibling {
        .bg-img {
          filter: blur(10px);
          opacity: .5;
          @media (max-width: $break-mobile){
            filter: none;
          }
        }
        .content h4 {
          transform: scale(0.5);
          opacity: 0.5;
        }
      }
      .bg-img {
        content: '';
        opacity: 0.7;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        mix-blend-mode: multiply;
        transform-origin: center;
      }
      .panel-tint {
        position: absolute;
        top: 0 ; left: 0;
        height: 100%;
        width: 100%;
        transition: background-color 0.5s ease-in-out;
      }
      .content-wrapper {
        position: relative;
        width: 100%;
        .content {
          position: absolute;
          margin-top: -10%;          
          width: 100%;
          padding: 2vw;
          background-color: transparent;
          color: white;
          cursor: url('/images/click-cursor-red.svg'), auto;
          transition: background-color 0.5s ease-in-out;
          @media (max-width: $break-mobile){
            margin-top: -20%;
          }
          h4 {
            width: 30vw;
            line-height: 1.1em;
            font-size: 28px;
            font-weight: normal;
            transition: transform .65s ease-in-out;
            transform-origin: bottom left;
            @media (max-width: $break-tablet){
              font-size: 2vw;
              // overflow-wrap: break-word;
              // word-wrap: break-word;
              // hyphens: auto;
            }
          }
          p {
            width: 50vw;
            opacity: 0;
            font-size: 22px;
            transition: opacity .65s ease-in-out;
            -webkit-font-smoothing: antialiased;
            @media (max-width: $break-mobile){
              font-size: 15px;
              // width: 100%;
            }
          }
          .contact-btn{
            margin-top: 25px;
            opacity: 0;
          }
        }
      }
    }
  }
}

.btn{
  background-color: transparent;
  transition: background-color .35s ease-in-out, color .35s ease-in-out;
  display: inline-block;
  font-family: $font-family-display;
  font-size: 16px;
  color: white;
  padding: 10px 15px;
  border: 1px solid white;
  text-decoration: none;
  pointer-events: all;
  cursor: url('/images/click-cursor-red.svg'), auto;

  &:hover{
    background-color: white;
    color: $red;
  }

}