section#coreValues {

  &.active .content {
    pointer-events: none;
  }

  .section-intro {
    background-color: $gray-dark;
    h1 {
      color: white;
    }
  }

  .core-values-slider {
    height: 100vh;
    &.uninitialized {
      display: flex;
      .core-values-cell {
        padding: 0;
      }
      .flickity-canv-next-button {
        opacity: 0;
      }
    }
    &.content-closed {
      // .core-values-cell .content {
        // h1 {
        //   font-size: 4vh;
        // }
      // }
      +.section-headlines .dynamic-text {
        opacity: 0;
      }
    }

    .core-values-cell {
      position: relative;
      display: flex;
      flex-grow: 1;
      flex-basis: 0%;
      align-items: center;
      width: 100%;
      height: 100vh;
      // padding: 2vw;
      transition: flex 0.5s ease-in-out, opacity 0.5s ease-in-out, width 0.5s ease-in-out;
      background-color: $gray-dark;
      &:hover {
        flex-grow: 1.5;
        .content h1{
          // border-bottom: 5px solid white;
        }
      }
      &.sibling-is-hovered {
        // added/removed by js
      }
      &.opening {
        flex-grow: 10;
      }
      &.sibling-is-opening {
        flex-grow: 0;
        opacity: 0;
        padding: 0;
        width: 0;
        overflow: hidden;        
      }
      &.is-selected {
        cursor: url('/images/close-cursor-red.svg'), auto;
      }

      #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100vw;
      }
      span.close-cell {
        position: absolute;
        top: 100px;
        right: 20px;
        opacity: 1;
        transition: opacity 0.4s ease-in-out;        

        &:before {
          content: '×';
          color: white;
          font-size: 30pt;
          padding: 20px;
        }
      }
      .content { 
        position: relative;
        display: flex;
        align-items: center;               
        height: 100%;        
        width: 100%;
        max-width: 550px;
        padding: 2vw;
        transition: all 0.4s ease-in-out;
        .content-inner {
          width: 100%;
          h1 {
            display: inline;
            font-size: 3vh;
            // text-align: left;
            color: white;
            padding: 100px 0;
            transition: font-size 0.4s ease-in-out;
            cursor: url(/images/click-cursor-red.svg), auto;
          }
          .dynamic-text {
            opacity: 0;
            color: white;
          }
        }
      }
      canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        // pointer-events: none;
      }
    }
  }

  .core-values-cell  {

    canvas {
      opacity: 0.2;
    }

    &:hover {
      canvas {
        opacity: 1;
      }
    }
  }
}
