section#coreValues {
  background-color: $gray-dark;
  .section-intro {
    background-color: $gray-dark;
    h1 {
      color: white;
    }
  }

  .panel-group {
    display: flex;
    height: 100%;
    .panel {
      position: relative;
      flex: 1 6 auto;
      display: flex;
      align-items: center;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      &:before {
        content: '';
        opacity: 0.85;
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;        
        background-blend-mode: multiply;
        transition: background-color 0.5s ease-in-out 0s, filter 0.5s linear 0s;
        transform-origin: center;
      }
      &.hover {
        &:before {
          background-color: transparent;
        }
        flex: 6 1 auto;
        .content-wrapper .content {
          pointer-events: none;
          h4 {
            border-bottom: 4px solid white;
            max-width: 100%; 
            max-width: 26vw;
            transform-origin: left center;
            transition-delay: 0.25s;
            transform: scale(1.5);
          }
          ul li {            

            opacity: 1;
            color: $gray;
            @for $i from 1 through 10 {
              &:nth-of-type(#{$i}) {
                transition-delay: 0.75s * $i;
              }
            }
            &:last-of-type {
              color: $white !important;
            }     
          }
        }
      }
      &.hover-sibling {
        &:before {
          // filter: blur(5px);
          // background-color: darken($gray-darker-trans, 5%);
          background-color: $gray-darker-trans;
        }

        .content h4 {
          transform: scale(0.5);
          opacity: 0.5;
        }
      }
      .particles-container {
        width: 100vw;
        height: 100%;        
      }
      .panel-tint {
        position: absolute;
        top: 0 ; left: 0;
        height: 100%;
        width: 100%;
      }
      .content-wrapper {
        position: relative;
        width: 100%;
        .content {
          position: absolute;
          margin-top: -10%;
          width: 100%;
          padding: 2vw;
          background-color: transparent;
          color: white;
          cursor: url('/images/click-cursor-red.svg'), auto;
          transition: background-color 0.5s ease-in-out;
          h4 {
            max-width: 0vw;
            font-size: 4.25vh;
            transition: transform 0.5s ease-in-out, max-width 0.5s ease-in-out;
            transform-origin: left top;
          }
          ul {
            list-style: none;
            min-width: 60vw;
            margin-top: 6vh;
            li {
              font-size: 2.5vh;
              margin-bottom: 2vw;
              opacity: 0;
              transition: opacity 0.5s ease-in-out, color 1.8s ease-in;
            }
          }
        }
      }
    }
  }
}
