@font-face {
  font-family: 'Neue';
  src: url('/fonts/NeueDisplay-Random.woff') format('woff'); /* Pretty Modern Browsers */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NeueLight';
  src: url('/fonts/NeueDisplay-Regular Random.woff') format('woff'); /* Pretty Modern Browsers */
  font-style: normal;
  font-weight: 400;
}