body.show-question {
  .future-of-header h1,
  .shuffler h1,
  #fixedLogo,
  #header,
  .onepage-pagination {
    opacity: 0.3 !important;
  }

  section#futureOf .question {
    transition-delay: 0.5s;
    opacity: 1 !important;
    left: 0;
  }
}

section#futureOf {
  position: relative;
  height: 100vh;
  background-color: black;

  .future-of-header h1 {
    transition: opacity 0.4s ease-in-out;
  }

  .future-of-slider {
    .future-of-cell {
      width: 100%;
      height: 100vh;
      &:first-of-type {
        opacity: 0;
      }
    }
  }

  .question {
    position: absolute;
    top: 50%;
    left: -100%;
    color: white;
    background-color: rgba(0,0,0,0.7);
    font-size: 4vh;
    padding: 0.8em;
    padding-left: 1.2em;
    transition: all 0.4s ease-in-out;
  }
}

#introBg {
  position: fixed;
  top: 0; bottom: 0;
  right: 0;
  width: 100%;
  background-color: $red;
}

#introText {
  position: fixed;
  top: 40%;
  left: 20px;
  opacity: 0;
  color: white;
  max-width: 1100px;
}

#fixedLogoText {
  transition: transform 1s ease-in-out;
}

#fixedLogo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
  svg {
    width: 100%;
    overflow: visible;
  }
}
