#staticIntro {
  .content {
    background-color: $red;
    height: 100%;
    display: flex;
    align-items: center;
  }

  h2 {
    padding-left: 2vw;
    color: white;
    max-width: 1100px;
  }
}

#introBg {
  position: fixed; z-index: 101;
  top: 0; bottom: 0;
  right: 0;
  width: 100%;
  background-color: $red;
  cursor: url(/images/next-cursor-black.svg), auto;
}

#introText {
  position: fixed; z-index: 101;
  width: calc(100vw - 140px);
  height: 100vh;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  padding-left: 2vw;
  opacity: 0;
  color: white;
  pointer-events: none;
  span{
    display: block;
    max-width: 1100px;
    color: white;
  }
}

#introLogoText {
  transition: transform 1s ease-in-out;
}

#introLogo {
  position: absolute; z-index: 101;
  bottom: calc(50vh - 133px);
  left: 20px;
  width: 400px;
  pointer-events: none;
  svg {
    width: 100%;
    overflow: visible;
  }
}
