header#header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: $red;
  width: 120px;

  a {
    color: white;
    text-decoration: none;

  }
}


body {
  main {

  }
}

.logo-container,
header#header,
.onepage-pagination {
  transition: opacity 0.4s ease-in-out;
}

