body {

  &.viewing-page-3,
  &.viewing-page-4, 
  &.viewing-page-5 {
    #fixedLogo svg > g {
      fill: $gray-dark;      
      line {
        stroke: $gray-dark;        
      }
    }
  }
  
  &.intro-in-progress,
  &.partner-tray {
    #fixedLogo svg > g {
      fill: white;      
      line {
        stroke: white;        
      }
    }    
  }

  &.intro-in-progress {
    #fixedLogo svg > g {
      transition: none;
      line {
        transition: none;        
      }
    }      
  }
}

#fixedLogo svg > g {
  transition: fill 0.8s ease-in-out;
  line {
    transition: stroke 0.8s ease-in-out;
  }
}

header#header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 15px 20px;
  background-color: $red;
  width: 140px;

  a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: $font-family-display;
    font-weight: bold;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: block;

  }
}

.logo-container,
header#header,
.onepage-pagination {
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}


body.partner-tray #partnerTray {
  transform: translateY(0%);
}

#partnerTray {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: $gray-darker;
  color: white;
  display: flex;
  align-items: center;
  padding: 2vw;
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  cursor: url('/images/close-cursor-red.svg'), auto;

  .debbie {
    margin-top: -6%;
    -webkit-font-smoothing: antialiased;
    p {
      color: $red;
      
      &:first-of-type {
        font-weight: 600;
      }
      &:not(:first-of-type) {
        line-height: 20px;
      }
      small { 
        color: white;
        font-size: 16px; 
        font-weight: 300;
        
      }
    }
    .contact {
      margin-top: 20px;
      a {
        color: white;
        text-decoration: none;
      }
      tel {
        display: block;
        margin: 0.5em 0;
      }
    }
  }
}

