body.people-modal-open {
  header {
    display: none;
  }


  #downArrow {
    display: none;
  }

  #fixedLogo svg > g {
    fill: white;
    transition: fill 0.8s ease-in-out;
    line {
      stroke: white;
      transition: stroke 0.8s ease-in-out;
    }
  }
  #peopleSlider {
    overflow: hidden;
    .grid{
      opacity: .4;
      .person{
        filter:grayscale(100%) blur(10px) !important;
      }
    }
  }
}


#peopleSlider {
  position: absolute;
  left: 0;
  top: calc(50vh - 270px);
  width: 100vw;
  outline: none;
  overflow: hidden;
  transition: opacity 0.6s ease-in-out;
  @media (max-height: 800px){
    top: calc(50vh - 230px);
  }
  @media (max-height: 700px){
    top: calc(50vh - 190px);
  }
  @media (max-width: $break-mobile){
    top: 60px;
  }
  &.hidden {
    opacity: 0;
  }
  .slider-inner {
    transform: translate3d(0,0,0);
    position: relative;
    .cell {
      float: left;
      transform: translateX(-100%);
      .grid {
        height: 540px;
        max-height: 540px!important;
        @media (max-height: 800px){
          height: 460px;
          max-height: 460px!important;
        }
        @media (max-height: 700px){
          height: 380px;
          max-height: 380px!important;
        }

        @media (max-width: $break-mobile){
          height: calc(100vh - 120px);
          max-height: calc(100vh - 120px) !important;
        }
        .person {
          float: left;
          width: 270px;
          height: 270px;
          @media (max-height: 800px){
            width: 230px;
            height: 230px;
          }
          @media (max-height: 700px){
            width: 190px;
            height: 190px;
          }

          @media (max-width: $break-mobile){
            width: calc(100vh - 120px);
            height: calc(100vh - 120px);
          }
          color: white;
          position: relative;
          display: inline-flex;
          align-items: flex-end;
          flex-wrap: wrap;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          &:not(.video) {
            filter: grayscale(1);            
          }          
          @media (min-width: $break-tablet) {
            &:not(.video) {              
              transition: filter 1s ease;
              &:hover {              
                filter: grayscale(0);
                .overlay {
                  opacity: .7;
                }
              }
            }
          }
          @media (min-width: $break-mobile) {
            &:hover {
              p {
                max-height: 200px;
                opacity: 1;                
              }
            }
          }
          &.video {
            width: 540px;
            overflow: hidden;
            cursor: url(/images/click-cursor-black.svg), auto;
            @media (max-height: 800px){
              width: 460px;
            }
            @media (max-height: 700px){
              width: 380px;
            }
            @media (max-width: $break-mobile){
              width: calc(200vh - 240px);
            }
            @media (min-width: $break-tablet) {
              &:hover {
                .overlay {
                  background-color: transparentize($red, .3);
                }
              }       
              .overlay {                
                transition: background 1s ease;                
              }       
            }           
            .overlay{
              top: 0;
              left: 0;
              background-color: transparentize($red, .7);              
              &:before {
                content:url(/images/play-button.svg);
              }                            
              @media (max-width: $break-tablet){                
                &:before {
                  content:url(/images/play-button.svg);
                }
              }
            }
            iframe {
              height: 100%;
            }

            video {
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
            }

          }

          hgroup {
            position: absolute;
            padding: 10px;
            bottom: 0;
            left: 0;
            @media (max-width: $break-mobile){
              padding: 5px;
            }
          }

          h6{
            margin-bottom: 0;
            -webkit-font-smoothing: antialiased;
          }

          p {
            opacity: 0;
            max-height: 0;
            font-size: 18px;
            line-height: 1.2;
            margin-top: 5px;
            transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
            @media (max-width: $break-laptop13){
              font-size: 16px;
            }
            @media (max-width: $break-tablet){
              opacity: 1;
              max-height: none;
              margin-top: 5px;
            }
            @media (max-width: $break-mobile){
              font-size: 15px;
            }
          }

          .overlay {
            position: absolute;
            background-color: transparentize(black, .6);
            background-blend-mode: multiply;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            opacity: 1;
            transition: all 1s ease;
          }
        }
      }
    }
  }
}

#personModal {
  position: absolute;
  height: calc(100vh - 300px);
  top: 150px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8), translate3d(0,0,0);
  @media (max-width: $break-mobile){
    height: 100vh;
    top: 0;
  }

  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
  #closePersonModal {
    @media (min-width: 700px) {
      display: none;
    }
    position: absolute;
    z-index: 999;
    top: 45px;
    right: 14px;
    color: red;
    font-size: 45px;
  }
}


section#ourPeople.modal-open{
  background-color: $gray-dark;
  cursor: url('/images/close-cursor-red.svg'), auto;
  .section-headlines{
    h3{
      color: white;
    }
  }

  #peopleSlider {
    pointer-events: none;
  }

  #personModal{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    background-color: $gray-dark-trans;
  }
}