section#ourUniversity {
  .our-university-slider {
    // display: flex;
    height: 100vh;
    &.full-width .our-university-cell {
      width: 100%;
    }
    .our-university-cell {
      display: flex;
      align-items: center;
      width: 25%;
      height: 100vh;
      padding: 2vw;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      h1 {
        font-size: 2vw;
        text-align: center;
        color: white;
      }
      &:first-of-type {
        background-image: url('http://familiar-temp.s3.amazonaws.com/our-schools.jpg');
      }
      &:nth-of-type(2) {
        background-image: url('http://familiar-temp.s3.amazonaws.com/our-people.jpg');
      }
      &:nth-of-type(3) {
        background-image: url('http://familiar-temp.s3.amazonaws.com/the-facts.jpg');
      }
      &:last-of-type {
        background-image: url('http://familiar-temp.s3.amazonaws.com/our-network.jpg');
      }
    }
  }
}