body.school-modal-open {
  #fixedLogo svg > g {
    fill: white;
    transition: fill 0.8s ease-in-out;
    line {
      stroke: white;
      transition: stroke 0.8s ease-in-out;
    }
  }

  section#ourSchool {
    cursor: url('/images/close-cursor-red.svg'), auto;
    .section-headlines h4,
    .section-headlines h3  {
      color: white;
    }
    #schoolModal {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
section#ourSchool {    
  .section-headlines h4,
  .section-headlines h3  {
    transition: color 0.5s ease-in-out;
  }

  .intro-paragraph {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2vw;
    background-color: $gray-light-trans;
    transition: opacity 0.7s ease-in-out;
    &.hidden {
      opacity: 0;
      pointer-events: none;      
    }
    p {
      font-size: 5vh;
    }
  }  

  .school-links {
    position: relative;
    height: 100%;
    .school {
      position: absolute;
      cursor: url(/images/click-cursor-red.svg), auto;      
      &:hover h3 {
        color: black;
      }
      &.parsons {
        left: 26%;
        top: 22.2%;        
      }
      &.eugene-lang {
        left: calc(34.4% + 14.9%);
        top: 61%;        
      }
      &.public-engagement {
        left: 71.2%;
        top: 45.2%;        
      }
      &.performing-arts {
        left: 2%;
        top: 53%;        
      }
      &.social-research {
        left: calc(58.4% + 14.9%);
        top: 13.4%;        
      }
      &.horz {
        width: 22.79%;
        height: 15%;
        .text-container {
          bottom: -100%;
          h3 {
            top: 1.5vw;
            left: 1.5vw;
            // bottom: -40%; 
          }                    
        }        
      }
      &.vert {
        position: absolute;
        display: flex;
        align-items: center;
        width: 14.9%;
        height: 24%;
        .text-container {
          display: flex;
          align-items: center;
          h3 {
            position: relative;
          }
        } 
        .img-container {
          left: -114.9%;
        }
      }      
      .img-container {
        position: absolute;
        height: 100%;
        width: 100%;
        margin-right: 20px;
        background-image: url('/images/school-preview1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: 1px solid $gray;
      }
      .text-container {
        position: absolute;
        height: 100%;
        width: 100%;        
        h3 {
          position: absolute;
          font-weight: 300;
          font-size: 2.2vh;
          line-height: 2.7vh;
          width: 250px;
          color: $red;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }

  #schoolModal {
    position: absolute;
    background-color: $gray-darker-trans;
    pointer-events: none;
    display: none;
    align-items: center;

    .content {
      display: none;
      height: 50%;
      align-items: center;
      background-color: $gray-darker-trans;
      color: white;
      .text-container {
        width: 50%;
        padding: 4vw;
        .school-name {
          margin-top: 5vh;        
          line-height: 5.2vh;
          text-transform: uppercase;
          font-weight: 900;  
          margin-bottom: 15px;        
        }
        p {
          margin-bottom: 20px;
        }
        
        a {
          color: white;
          cursor: url(/images/click-cursor-red.svg), auto;      
        }
      }
      .img-container {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

