body.school-modal-open {
  #fixedLogo svg > g {
    fill: white;
    transition: fill 0.8s ease-in-out;
    line {
      stroke: white;
      transition: stroke 0.8s ease-in-out;
    }
  }

  section#ourSchool {
    cursor: url('/images/close-cursor-red.svg'), auto;
    .section-headlines h4,
    .section-headlines h3  {
      color: white;
    }
    #schoolModal {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .school{
    filter:grayscale(100%) blur(10px);
    opacity: .4;
  }
}
section#ourSchool {
  .section-headlines h4,
  .section-headlines h3  {
    transition: color 0.5s ease-in-out;
  }

  .intro-paragraph {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2vw;
    background-color: $gray-light-trans;
    transition: opacity 0.7s ease-in-out;
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
    p {
      font-size: 5vh;
    }
  }

  .school-links {
    position: relative;
    height: 100%;
    .school {
      position: absolute;
      cursor: url(/images/click-cursor-red.svg), auto;

      &.parsons {
        left: 19%;
        top: 27.2%;
      }
      &.eugene-lang {
        left: 70%;
        top: 64%;
      }
      &.public-engagement {
        left: 75%;
        top: 33%;
      }
      &.performing-arts {
        left: 25%;
        top: 58%;
      }
      &.social-research {
        left: 55%;
        top: 19%;
        .img{
          background-position: 15% 50%;
        }
      }
      &.horz {
        width: 20%;
        height: 22%;
        .text-container {
          bottom: -100%;
          h3 {
            top: 15px;

          }
        }
      }
      &.vert {
        position: absolute;
        display: flex;
        align-items: center;
        width: 15%;
        height: 30%;
        .text-container {
          display: flex;
          align-items: center;
          margin-left: 15px;
          h3 {
            position: relative;
          }
        }
        .img-container {
          left: -100%;
        }
      }
      .img-container {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0; left: 0;
        overflow: hidden;
      }
      .img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0; left: 0;
        margin-right: 20px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all .6s ease-in-out;
      }
      &:hover{
        .img{
          transform: scale(1.05);
        }
      }
      &.not-hover{
        .img{
          filter: grayscale(100%);
          opacity: .4;
        }
        .text-container h3{
          color: $gray;
        }
      }
      .text-container {
        position: absolute;
        height: 100%;
        width: 100%;
        h3 {
          position: absolute;
          font-weight: normal;
          font-size: 2.4vh;
          line-height: 1.2;
          color: $red;
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }

  #schoolModal {
    position: absolute;
    background-color: $gray-darker-trans;
    pointer-events: none;
    display: none;
    align-items: center;

    .content {
      display: none;
      height: calc(100vh - 360px);
      width: 100vw;
      align-items: center;
      background-color: $gray-darker-trans;
      color: white;
      .text-container {
        width: 50%;
        padding: 4vw;
        -webkit-font-smoothing: antialiased;
        .school-name {
          line-height: 1.1;
          text-transform: uppercase;
          font-weight: normal;
          margin-top: 20px;

          font-family: $font-family-display;
          margin-bottom: 15px;
        }
        p {
          margin-bottom: 20px;
        }

        a {
          color: white;
          cursor: url(/images/click-cursor-red.svg), auto;
        }
      }
      .img-container {
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
