// section#ourPeople {
//   ul {
//     list-style: none;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     height: 100vh;
//     width: 100vw;
//     overflow-x: scroll;
//     li {
//       width: 200px;
//       height: 200px;
//       background-color: lightgreen;
//       &.x2 {
//         background-color: blue;
//         width: 400px;
//       }
//     }
//   }
// }

// section#ourPeople {
//   display: flex;
//   align-items: center;
//   #peopleSlider {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     height: 300px;
//     width: 100vw;
//     overflow-x: scroll;
//     .img {
//       width: 150px;
//       height: 150px;
//       background-size: cover;
//       background-position: center;
//       background-repeat: no-repeat;

//     }
//   }
// }

// section#ourPeople {

//   #peopleSlider {
//     display: flex;
//     align-items: center;
//     width: 100%;
//     .slider-cell {
//       height: 600px;
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       flex-wrap: wrap;
//       .person {
//         width: 300px;
//         height: 300px;
//         margin-right: 10px;
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//         background-color: lightgreen;
//         border: 1px solid black;
//         &.video {
//           width: 600px;
//         }
//       }
//     }
//   }
// }

section#ourPeople{
  .section-headlines{
    h3, h4, h1{
      color: $gray-dark;
    }
  }
}

#peopleSlider {
  position: relative;
  top: calc(50% - 300px);
  outline: none;
  .slider-cell {
    width: 1832px;
    height: 600px;
    overflow: hidden;
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;

    .person {
      width: 300px;
      height: 300px;
      color: white;
      position: relative;
      display: inline-flex;
      align-items: flex-end;
      flex-wrap: wrap;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &.video {
        width: 604px;
      }
      p{
        opacity: 0;
      }

      .overlay{
        position: absolute;
        background-color: $black-tint;
        width: 100%;
        height: 100%;
      }

      &:not(.video){
        filter: grayscale(1);
      }

      p{
        font-size: 16px;
      }
    }
  }
}

#personModal {
  position: absolute;
  height: 600px;
  top: calc(50% - 300px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8);
  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    background-color: white;
  }
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    video {
      height: 100%;
    }
  }
  #closePersonModal {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
