body.approach-modal-open {
  header {
    display: none;
  }

  #downArrow {
    display: none;
  }

  #fixedLogo svg > g {
    fill: white;
    transition: fill 0.8s ease-in-out;
    line {
      stroke: white;
      transition: stroke 0.8s ease-in-out;
    }
  }

  #ourApproach{
    .approach-grid{
      .program{
        opacity: .2;
      }
      .project{
        filter:grayscale(100%) blur(10px) !important;
        opacity: .4;
      }
    }
    .section-headlines{
      opacity: .2;
    }
  }
}

#ourApproach {
  overflow: hidden;
  .section-headlines {
    max-width: none;
    width: 100%;
    @media (max-width: $break-mobile){
      max-width: calc(100vw - 110px);
    }
  }
}

#ourApproach #approachCanvas {
  position: absolute;
  left: 0;
  height: 480px;
  top: calc(50% - 220px);
  width: 100vw;
  @media (max-width: $break-mobile) {
    height: calc(100vh - 150px);
    top: 90px;
  }
  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 100vw;
  //   height: 100%;
  //   z-index: 999;
  //   border: 10px solid red;
  //   pointer-events: none;
  // }
  .approach-slider-inner {    
    position: absolute;
    height: 100%;
    &.accelerated {
      transform: translate3d(0,0,0);
    }
    .approach-grid {
      height: 100%;
      float: left;
      @media (max-width: $break-mobile) {
        display: flex;
        width: 100vw !important;
        left: 0 !important;
        &.approach-grid-2,
        &.approach-grid-3 {
          display: none;
        }
      }

      // height: calc(100vh - 380px);
      // max-height: calc(100vh - 380px) !important;
      // @media (max-width: $break-mobile){
      //   max-width: calc(100vh - 120px);
      //   max-height: calc(100vh - 120px) !important;
      // }
      // &:first-of-type {
      //   background: aqua;
      // }
      // &:nth-of-type(2) {
      //   background: mediumpurple;
      // }
      // &:last-of-type {
      //   background: lightcoral;
      // }
      .project {
        position: absolute;
        padding: 15px 25px;
        display: flex;
        align-items: center;
        cursor: url(/images/click-cursor-red.svg), auto;
        transition: opacity 0.6s ease-in-out, filter 0.6s ease-in-out;
        @media (max-width: $break-mobile) {
          position: relative;
          top: auto !important;
          bottom: auto !important;
          left: auto !important;
          width: 20%;
          height: 100%;
          max-height: 125px;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 5px;
          @for $i from 6 through 10 {
            &.project#{$i} {
              display: none;
            }
          }
          .project-image {
            width: 100% !important;
            height: 100% !important;
            min-width: 0 !important
          }
          .info {
            opacity: 1 !important;
            h4 {
              padding-top: 5px;
              font-size: 3.5vh;
              font-weight: normal;
              width: 100%;
              min-width: 0 !important;
              color: $red !important;
            }
            p { display: none; }
          }
        }
        &.project1 {
          left: 0%;
          bottom: 75px;
        }
        &.project2 {
          left: 620px;
          top: 100px;
        }
        &.project3 {
          left: 1240px;
          bottom: 50px;
        }
        &.project4 {
          left: 1800px;
          top: 80px;
        }
        &.project5 {
          left: 2420px;
          bottom: 75px;
        }
        &.project6 {
          left: 3000px;
          top: 80px;
        }
        &.project7 {
          left: 3620px;
          top: 250px;
        }
        &.project8 {
          left: 4150px;
          top: 75px;
        }
        &.project9 {
          left: 4800px;
          bottom: 80px;
        }
        &.project10 {
          left: 5404px;
          top: 85px;
        }
        &:hover .info {
          opacity: 1;
          h4 {
            color: $red;
          }
          p {
            opacity: 1;
          }
        }
        &.sibling-hover {
          filter: grayscale(100%);
          opacity: .08;
        }
        .info {
          opacity: 0.5;
          transition: opacity 0.4s ease-in-out;
          max-width: 300px;
          label {
            text-transform: uppercase;
            font-size: 10px;
          }
          h4 {
            margin: 5px 0;
            min-width: 300px;
            color: $gray;
            transition: color 0.4s ease-in-out;
          }
          p {
            font-size: 16px;
            color: $red;
            font-family: $font-family-display;
            -webkit-font-smoothing: antialiased;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
          }
        }
        .project-image {
          width: 200px; min-width: 200px;
          height: 200px;
          background-position: center;
          background-size: cover;
          margin-right: 15px;
        }
      }

      .program {
        float: left;
        display: flex;
        align-items: center;
        width: 300px;
        height: 50px;
        align-items: center;
        pointer-events: none;
        font-size: 12px;
        float: left;
        @for $i from 1 through 20 {
          &:nth-of-type(#{$i}) {
            transition-delay: 0.01s * $i * 4;
          }
        }
        @media (max-width: $break-mobile) {
          display: none;
        }
        &.hidden {
          opacity: 0;
        }
        &.hover {
          // background-color: rgba(140, 140, 140, 0.5);
          font-size: 16px;
          z-index: 999;
        }
        &.sibling-hover {
          opacity: 0.08;
        }
      }
    }

  }
}

#ourApproachModal {
  position: absolute; z-index: 1000;
  display: none;
  background-color: $gray-darker-trans;
  cursor: url(/images/close-cursor-red.svg), auto;
  .content {
    display: none;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    overflow: scroll;

    aside {
      width: 50%;
      height: 100%;
      color: white;
      &:before {
        content: '';
        position: fixed;
        top: 0; left: 0;
        bottom: 0;
        width: 50%;
        background-color: $gray-darker-trans;
      }
      > * {
        position: relative;
      }

      .aside-content{
        padding: 4vw;
        margin-bottom:20vh;
      }

      .label-heading {
        color: $red;
        display: block;
        margin-bottom: 2.5vh;
      }
      .label-group {
        color: white;
        display: block;
        max-width: 600px;
        text-transform: uppercase;
        line-height: 1.7;
      }
      h6{
        color: $red;
        font-weight: normal;
        margin-top: 40px;
        margin-bottom: 10px;
      }
      blockquote {
        margin: 2.5vh 0;
        color: $red;
        padding-right: 5vw;
        font-size: 28px;
        font-weight: bold;
        @media (max-width: $break-mobile) {
          font-size: 15px;
        }
      }
      .title-content {
        line-height: 1.2;
        font-family: $font-family-display;
        font-weight: normal;
      }
      .text-content {
        p {
          font-size: 22px;
          line-height: 1.35;
          margin-bottom: 20px;
          @media (max-width: $break-tablet) {
            font-size: 17px;
          }
          @media (max-width: $break-mobile) {
            font-size: 15px;
          }
        }
      }
      .gradient-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 20vh;
        width: 50%;
        background-image: linear-gradient(to top, $gray-darker 30%, rgba($gray-darker, .2) 100%);
        pointer-events: none;
      }
    }

    .img-container {
      position: fixed;
      right: 0;
      top: 0;
      pointer-events: none;
      height: 100vh;
      display: flex;
      align-items: center;
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}