#ourApproach {
  overflow: hidden;
  .section-headlines {
    background-image: linear-gradient(180deg, rgba(225, 225, 225, 0.5) 80%, transparent);
    max-width: none;
    width: 100%;
    h3, p {
      max-width: 70vw;
    }
  }
}

#ourApproach #approachCanvas {
  position: absolute;
  left: 0;
  top: calc(50% - 303px);
  width: 100vw;  
  .approach-slider-inner {
    position: relative;
    left: -347px;
    .approach-grid {
      float: left;        
      height: 60vh;
      max-height: 60vh !important;    
      .project {
        position: absolute;
        padding: 15px 25px;
        display: flex;
        align-items: center;
        cursor: url(/images/click-cursor-red.svg), auto;
        transition: opacity 0.6s ease-in-out;
        &.project1 {
          left: 0%;
          bottom: -75px;
        }
        &.project2 {
          // left: 8%;
          // left: 261px;
          left: 418px;
          top: 100px;
        }
        &.project3 {
          // left: 18%;
          // left: 587px;
          left: 933px;
          bottom: 50px;
        }
        &.project4 {
          // left: 25%;
          // left: 816px;
          left: 1296px;
          top: -25px;
        }
        &.project5 {
          // left: 33%;
          // left: 1077px;
          left: 1711px;
          bottom: 0px;
        }          
        &.project6 {
          // left: 44%;
          // left: 1436px;
          left: 2281px;
          top: 0px;
        }
        &.project7 {
          // left: 56%;
          // left: 1828px;
          left: 2903px;
          top: 250px;
        }
        &.project8 {
          // left: 68%;
          // left: 2220px;
          left: 3525px;
          bottom: -75px;
        }
        &.project9 {
          // left: 74%;
          // left: 2416px;
          left: 3836px;
          top: -25px;
        }
        &.project10 {
          // left: 83%;
          // left: 2709px;
          left: 4304px;
          bottom: 125px;
        }          
        &:hover .info {
          opacity: 1;
          h4 {
            color: $red;
          }
          p {
            opacity: 1;
          }
        }
        .info {
          opacity: 0.5;
          transition: opacity 0.4s ease-in-out;
          max-width: 300px;
          label {
            text-transform: uppercase;
            font-size: 10px;
          }
          h4 {
            margin: 5px 0;
            min-width: 300px;
            color: $gray;
            transition: color 0.4s ease-in-out;
          }
          p {
            font-size: 16px;
            color: $red;
            font-family: $font-family-display;
            -webkit-font-smoothing: antialiased;
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
          }
        }
        .project-image {
          width: 200px; min-width: 200px;      
          height: 200px;
          background-position: center;
          background-size: cover;
          margin-right: 15px;
        }
      }

      .program {
        float: left;
        width: 300px;
        height: 50px;
        align-items: center;
        transition: top 1s ease-in-out, left 1s ease-in-out, opacity 1s ease-in-out;
        pointer-events: none;
        font-size: 12px;
        float: left;
        @for $i from 1 through 20 {
          &:nth-of-type(#{$i}) {
            transition-delay: 0.01s * $i * 4;
          }
        }
        &.hover {
          font-size: 16px;
          background-color: red;
        }          
        &.sibling-hover {
          opacity: 0.1;
        }          
      }
    }

  }
}

#ourApproachModal {  
  position: absolute;
  display: none;
  background-color: $gray-darker-trans;
  cursor: url(/images/close-cursor-red.svg), auto;
  .content {    
    display: none;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    overflow: scroll;

    aside {
      width: 50%;
      height: 100%;
      padding: 4vw;
      padding-top: 20vh;                  
      color: white;
      &:before {
        content: '';
        position: fixed;
        top: 0; left: 0;
        bottom: 0;
        width: 50vw;
        background-color: $gray-darker-trans;
      }
      > * {
        position: relative;
      }
      .label-heading {
        color: $red;
        display: block;
        margin-bottom: 2.5vh;
      }
      .label-group {
        color: $gray;
        display: block;
        width: 62.5%;
      }
      blockquote {
        margin: 2.5vh 0;
        color: $red;
        padding-right: 5vw;
        font-size: 22px;
        font-style: italic;
      }
      .title-content {
        margin-top: 5vh;        
        line-height: 5.2vh;
        text-transform: uppercase;
        font-weight: 900;
      }
      .text-content {
        margin-bottom: 100px;
        p {
          font-size: 22px;      
          line-height: 32px;  
          margin-bottom: 2vw;
        }
      }
      .gradient-bottom {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 20vh;
        width: 50vw;
        background-image: linear-gradient(0deg, $gray-darkest-trans 50%, transparent);
        pointer-events: none;
      }
    }

    .img-container {
      position: fixed;
      pointer-events: none;
      height: 100vh;
      display: flex;
      align-items: center;
      width: 50%;      
      img {
        width: 100%;
      }
    }
  }
}