// section#ourPeople {
//   ul {
//     list-style: none;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     height: 100vh;
//     width: 100vw;
//     overflow-x: scroll;
//     li {
//       width: 200px;
//       height: 200px;
//       background-color: lightgreen;
//       &.x2 {
//         background-color: blue;
//         width: 400px;
//       }
//     }
//   }
// }

// section#ourPeople {
//   display: flex;
//   align-items: center;
//   #peopleSlider {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     height: 300px;
//     width: 100vw;
//     overflow-x: scroll;
//     .img {
//       width: 150px;
//       height: 150px;
//       background-size: cover;
//       background-position: center;
//       background-repeat: no-repeat;

//     }
//   }
// }

// section#ourPeople {

//   #peopleSlider {
//     display: flex;
//     align-items: center;
//     width: 100%;
//     .slider-cell {
//       height: 600px;
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       flex-wrap: wrap;
//       .person {
//         width: 300px;
//         height: 300px;
//         margin-right: 10px;
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//         background-color: lightgreen;
//         border: 1px solid black;
//         &.video {
//           width: 600px;
//         }
//       }
//     }
//   }
// }

section#ourPeople{
  .section-headlines{
    h3, h4, h1{
      color: $gray-dark;
    }
  }
}

#peopleSlider {
  position: relative;
  top: calc(50% - 303px);
  outline: none;
  .slider-cell {
    width: 1832px;
    height: 606px;
    overflow: hidden;
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: column;

    .person {
      width: 300px;
      height: 300px;
      color: white;
      position: relative;
      display: inline-flex;
      align-items: flex-end;
      flex-wrap: wrap;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;

      hgroup{
        position: absolute;
        padding: 10px;
        bottom: 0;
        left: 0;
      }
      p{
        opacity: 0;
        height: 0;
        transition: height 1.5s ease;
        font-size: 18px;
        margin-top: 5px;
      }

      &:hover{
        p{
          height: auto;
          opacity: 1;
          transition: height 1.5s ease, opacity 1.5s ease;
        }
      }
      &.video {
        width: 604px;
        .overlay{
          background-color: $black-tint;
          transition: background 1s ease;
        }
        &:hover{
          .overlay{
            background-color: transparentize($red, .3);
            &:before{
              content:url(/images/play-button.svg);
              // position: absolute;
            }
          }
        }
      }
      .overlay{
        position: absolute;
        background-color: transparentize(black, .65);
        background-blend-mode: multiply;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all 1s ease;
      }

      &:not(.video){
        filter: grayscale(1);
        transition: filter 1s ease;
        &:hover{
          filter: grayscale(0);
          .overlay{
            opacity: .7;
          }
        }
      }

    }
  }
}

#personModal {
  position: absolute;
  height: 606px;
  top: calc(50% - 303px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8);
  &.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    background-color: $gray-dark;
  }
  .content {
    height: 100%;
    display: flex;
    justify-content: center;
    video {
      height: 100%;
    }
  }
  #closePersonModal {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

section#ourPeople.modal-open{

}
