body.school-modal-open {
  #fixedLogo svg > g {
    fill: white;
    transition: fill 0.8s ease-in-out;
    line {
      stroke: white;
      transition: stroke 0.8s ease-in-out;
    }
  }

  section#ourSchool {
    cursor: url('/images/close-cursor.svg'), auto;
    .section-headlines h4,
    .section-headlines h3  {
      color: white;
    }
  }
}
section#ourSchool {    
  .section-headlines h4,
  .section-headlines h3  {
    transition: color 0.5s ease-in-out;
  }

  .intro-paragraph {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2vw;
    background-color: $gray-light-trans;
    transition: opacity 0.7s ease-in-out;
    &.hidden {
      opacity: 0;
      pointer-events: none;      
    }
    p {
      font-size: 5vh;
    }
  }  

  .school-links {
    position: relative;
    height: 100%;
    .school {
      position: absolute;
      display: flex;
      align-items: center;
      cursor: url(/images/click-cursor-red.svg), auto;
      &:hover h3 {
        color: black;
      }
      &.parsons {
        top: 30%;
        left: 5%;
      }
      &.lang {
        top: 55%;
        left: 18%;
      }
      &.public {
        top: 78%;
        left: 35%;
      }
      &.performing {
        top: 18%;
        left: 45%;
      }
      &.research {
        top: 40%;
        left: 55%;
      }
      img {
        width: 100px;
        margin-right: 20px;
      }
      h3 {
        font-weight: 300;
        font-size: 2vh;
        width: 300px;
        color: $red;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  #schoolModal {
    position: absolute;
    // background-color: white;
    .content-wrap {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;            
      .content {
        width: 50%;
        padding: 2vw;
        text-decoration: none;
        color: white;
        cursor: url(/images/click-cursor-red.svg), auto;        
        background-color: $black-tint;        
        opacity: 0;        
        p {
          margin-bottom: 20px;
        }

        span {
          text-transform: uppercase;
        }
      }
    }
  }
}

