$red: #E82E21;
$gray-dark: #333;
$gray: #999;
$gray-light: #E1E1E1;
$gray-light-trans: rgba(225,225,225, 0.9);
$black: #000;
$white: #fff;

$black-tint: transparentize(black, .65);

$font-family-base: 'Neue', sans-serif;
$font-family-display: 'NeueDisplay', sans-serif;


$break1: 1000px;
