#ourApproach {
  overflow: hidden;


}

#ourApproach #approachCanvas {
  position: absolute;
  top: -50%; left: -50%;
  height: 200%;
  width: 200%;
  transform: translate3d(0%, 0%, 0);  
  // transition: transform 0.5s ease-in-out;

  .project, .program {
    position: absolute;
    
  }

  .project {
    background-color: blue;
    width: 100px;
    height: 200px;
  }

  .program {
    transition: all 1s ease-in-out;
  }
  

}