@import 'variables.scss';

@import 'onepagescroll.scss';
@import 'fonts.scss';
@import 'layout.scss';
@import 'futureof.scss';
@import 'corevalues.scss';
@import 'ouruniversity.scss';
@import 'corporatepartnerships.scss';
// @import 'blocks.scss';


body {
  background-color: lighten(grey, 20%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'NeueLight';
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Neue';
}

.global-slider {
  width: 100%;
  overflow: hidden;
}

.video-fs {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-image: none;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  video {
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    width: auto;
    height: 100vh;
  }
}

.placeholder-fs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  h1 {
    font-size: 6vh;
    text-align: center;
  }
  .half-screen {
    display: flex;
    justify-content:  center;
    align-items: center;
    width: 50%;
    height: 100%;
    &:first-of-type {
      border-right: 1px solid gray;
    }
    h2 {
      font-size: 3vh;
      text-align: center;
    }
  }
}

section > .placeholder-fs {
  border-bottom: 1px solid gray;
}
