---
---

<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->

	<!--<link rel="stylesheet" href="css/normalize.css">-->
	<link rel="stylesheet" href="styles.css">
	<!--<script src="js/vendor/modernizr-2.8.3.min.js"></script>-->
</head>

<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<header id="header">
		<a href="#">Partner With Us</a>
	</header>

	<main>

		<section id="futureOf" class="dark-section">
			<div class="global-slider future-of-slider">
				<div class="future-of-cell">
					<div class="video-fs">
						<video loop="true" muted src="http://familiar-temp.s3.amazonaws.com/sample2.mp4"></video>
					</div>
				</div>

				<div class="future-of-cell">
					<div class="video-fs">
						<video loop="true" muted src="http://familiar-temp.s3.amazonaws.com/sample1b.mp4"></video>
					</div>
				</div>

				<div class="future-of-cell">
					<div class="video-fs">
						<video loop="true" muted src="http://familiar-temp.s3.amazonaws.com/sample3.mp4"></video>
					</div>
				</div>

				<div class="future-of-cell">
					<div class="video-fs">
						<video loop="true" muted src="http://familiar-temp.s3.amazonaws.com/sample4.mp4"></video>
					</div>
				</div>
			</div>

			<h2 class="question">That is the qustion</h2>

			<hgroup class="section-headlines">
				<h4>Imagine <br>The Future Of</h4>
				<h1 class="dynamic-text"></h1>
			</hgroup>
		</section>

		<section id="coreValues" class="dark-section">
			<div class="global-slider core-values-slider uninitialized content-closed">
				<div class="core-values-cell" data-headline="Inspiring Visionary Thinking">
					<div id="designDna"></div>
					<!--<span class="close-cell"></span>-->

					<div class="content">
						<div class="content-inner">
							<h1>Inspiring Visionary <br>Thinking</h1>
							<h2 class="dynamic-text"></h2>
						</div>
					</div>
				</div>

				<div class="core-values-cell" data-headline="Courageously Innovative">
					<div id="fearless"></div>
					<!--<span class="close-cell"></span>-->
					<div class="content">
						<div class="content-inner">
							<h1>Courageously <br>Innovative</h1>
							<h2 class="dynamic-text"></h2>
						</div>
					</div>
				</div>

				<div class="core-values-cell" data-headline="Embodying Diversity">
					<div id="diversity"></div>
					<!--<span class="close-cell"></span>-->
					<div class="content">
						<div class="content-inner">
							<h1>Embodying <br>Diversity</h1>
							<h2 class="dynamic-text">

							</h2>
						</div>
					</div>
				</div>
			</div>

			<hgroup class="section-headlines">
				<h4>The New School is different by design</h4>
				<h3 class="dynamic-text"></h3>
			</hgroup>

			<div class="section-intro">
				<h1>The New School is different by design</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>
		</section>

		<section id="ourSchool">		

			<div class="school-links">
				<div class="school parsons">
					<img src="/images/school-preview1.png">
					<h3>Parsons School of Design</h3>
				</div>

				<div class="school lang">
					<img src="/images/school-preview1.png">
					<h3>Eugene Lang College of Liberal Arts</h3>
				</div>

				<div class="school public">
					<img src="/images/school-preview1.png">
					<h3>Schools of Public Engagement</h3>
				</div>

				<div class="school performing">
					<img src="/images/school-preview1.png">
					<h3>College of Performing Arts</h3>
				</div>

				<div class="school research">
					<img src="/images/school-preview1.png">
					<h3>The New School for Social Research</h3>
				</div>
			</div>

			<div id="schoolModal">
				<div class="content-wrap">
					<a href="https://www.google.com" target="_blank" class="content"></a>
				</div>
				
			</div>			

			<div class="intro-paragraph">
				<p>Our Unique structure provides the expertise of five schools collaborating to reinvent everything and approach issues holistically.</p>
			</div>

			<hgroup class="section-headlines">
				<h4>Our University</h4>
				<h3 class="dynamic-text">Our Schools</h3>
			</hgroup>

			<div class="section-intro">
				<h1>Our Schools</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>			
		</section>

		<section id="ourApproach">
			<div id="approachCanvas">
				{% for project in (1..5) %}
					<div class="project" data-programs='["food studies", "fashion design", "screenwriting", "journalism", "design and technology"]'>
						<img src="/images/music.jpg" width="200">
						<h4>Make Music People Can See</h4>
					</div>
				{% endfor %}

				
				<div class="program" data-id="food studies">food studies</div>				
				<div class="program" data-id="fashion design">fashion design</div>				
				<div class="program" data-id="screenwriting">screenwriting</div>				
				<div class="program" data-id="journalism">journalism</div>				
				<div class="program" data-id="design and technology">design and technology</div>				

				{% for program in (1..20) %}
					<div class="program">program #{{program}}</div>
				{% endfor %}
			</div>


			<hgroup class="section-headlines">
				<h4>Our University</h4>
				<h3 class="dynamic-text">A Trans-disciplinary approach</h3>
			</hgroup>

			<div class="section-intro">
				<h1>Our Schools</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>			
		</section>

		<section id="ourPeople">

			<div id="peopleSlider">
				<div class="slider-inner">

					{% for i in (1..2) %}
						<div class="cell {% if forloop.index == 1 %}clone{% endif %}">
							<div class="grid">
								{% for person in site.people %}
									<div class="person {% if person.video %}video{% endif %}" style="background-image:url('{{person.image}}');" data-src="{% if person.video %}{{person.video}}{% endif %}">
										<div class="overlay"></div>
										<hgroup>
											<h6>{{ person.title }}</h6>
											{{ person.content }}
										</hgroup>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				
				</div>
			</div>

			<hgroup class="section-headlines">
				<h3>A History of Innovation</h3>
				<p>We’ve been a source of inspiration for pioneers and world changers</p>
			</hgroup>

			<div class="section-intro">
				<h1>A History of Innovation</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
			</div>

			<div id="personModal">
				<div class="content"></div>
				<!--<div id="closePersonModal">&times;</div>-->
			</div>
		</section>

		<section id="contactUs">

			<aside id="asideSlider">

				<div id="contactSlider">
					<div class="contact-cell" style="background-image: url('/images/contact1.jpg')">
						<div class="content">
							<h2>Stimulating social innovation &amp; entrepreneurship</h2>
							<div class="invisible">
								<p>The New School offers opportunities to create new thinking for a new world. From incubating ideas to solving specific business challenges, The New School designs for both the issues of our time as well well as those to come.</p>
							</div>
						</div>
					</div>

					<div class="contact-cell" style="background-image: url('/images/contact1.jpg')">
						<div class="content">
							<h2>Preparing a workforce for the gig economy</h2>
							<div class="invisible">
								<p>The New School offers opportunities to create new thinking for a new world. From incubating ideas to solving specific business challenges, The New School designs for both the issues of our time as well well as those to come.</p>
							</div>
						</div>
					</div>

					<div class="contact-cell" style="background-image: url('/images/contact2.jpg')">
						<div class="content">
							<h2>Leveraging big data to see the future</h2>
							<div class="invisible">
								<p>The New School offers opportunities to create new thinking for a new world. From incubating ideas to solving specific business challenges, The New School designs for both the issues of our time as well well as those to come.</p>
							</div>
						</div>
					</div>
				</div>
			</aside>

			<div class="content">
				<p>Our Partners understand the value of using design thinking to solve real-world problems.</p>

				<div class="contact-info">
					<p>Ready to design the future?</p>
					<h4>Collaborate with us</h4>

					<div class="invisible">
						<div class="debbie">
							<img src="/images/debbie.jpg" height="120">
							<div class="contact-details">
								<p><strong>Debbie Gibb</strong></p>
								<p>Vice President</p>
								<p>Corporate Partnerships &amp; Industry Development</p>
								<p>The New School</p>
								<button>Email Debbie</button>
							</div>
						</div>
					</div>
				</div>

				<hgroup class="section-headlines">
					<h4>Partner with us</h4>
					<h3 class="dynamic-text"></h3>
				</hgroup>
			</div>
		</section>

	</main>

	<footer>
		<div id="introBg"></div>

		<h2 id="introText"><span>The New School, in NYC, is the only university where a world-renowned art and design school partners with acclaimed liberal arts, performing arts, and graduate schools to rethink everything.<span></h2>

		<div id="fixedLogo">
			<svg viewBox="0 0 110 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: visible;">
				<defs>
					<clipPath id="clipLogo">
						<rect x="0" y="0" width="110" height="63"/>
					</clipPath>
				</defs>

				<!--<rect x="0" y="0" width="110" height="63" stroke="blue" stroke-width="0.5"/>-->

				<g fill="#FFFFFF" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<!--<line x1="70vw" y1="64.81" x2="100vw" y2="64.81" stroke="white" stroke-width="3.5"></line>
					<line x1="4.501" y1="70.5" x2="109.524" y2="70.5" stroke="white" stroke-width="3.5"></line>-->
					<line id="svgLine1" x1="800" y1="64.81" x2="900" y2="64.81" stroke="white" stroke-width="3.5"></line>
					<line id="svgLine2" x1="0" y1="70.5" x2="0" y2="70.5" stroke="white" stroke-width="3.5"></line>
					<g clip-path="url(#clipLogo)">
						<g id="fixedLogoText" style="transform: translateX(0) translateY(100px)">
							<polygon id="Fill-4" points="9.264 16.469 5.147 16.469 5.147 3.705 0 3.705 0 0 14.41 0 14.41 3.705 9.264 3.705"></polygon>
							<polyline id="Fill-6" points="30.551 10.19 19.743 10.19 19.743 16.469 15.626 16.469 15.626 0 19.743 0 19.743 6.279 30.551 6.279 30.551 0 34.668 0 34.668 16.469 30.551 16.469 30.551 10.19"></polyline>
							<polyline id="Fill-7" points="36.564 16.469 36.564 0 48.278 0 48.278 3.705 40.682 3.705 40.682 6.485 46.837 6.485 46.837 9.984 40.682 9.984 40.682 12.764 48.278 12.764 48.278 16.469 36.564 16.469"></polyline>
							<polyline id="Fill-8" points="9.242 26.517 8.624 26.517 8.624 37.057 4.507 37.057 4.507 20.588 9.324 20.588 18.917 30.881 19.535 30.881 19.535 20.588 23.652 20.588 23.652 37.057 19 37.057 9.242 26.517"></polyline>
							<polyline id="Fill-9" points="25.548 37.057 25.548 20.588 37.262 20.588 37.262 24.294 29.665 24.294 29.665 27.073 35.821 27.073 35.821 30.573 29.665 30.573 29.665 33.352 37.262 33.352 37.262 37.057 25.548 37.057"></polyline>
							<polyline id="Fill-10" points="37.633 20.588 42.224 20.588 45.786 33.702 46.753 33.702 50.006 20.588 57.746 20.588 61.472 33.702 62.44 33.702 65.528 20.588 70.201 20.588 65.651 37.057 58.323 37.057 54.535 23.944 53.382 23.944 49.923 37.057 42.595 37.057 37.633 20.588"></polyline>
							<path d="M3.579,46.2 C3.579,42.721 6.358,40.847 9.94,40.847 C12.02,40.847 14.305,41.382 15.602,42.124 L14.819,45.623 C13.44,44.8 11.381,44.368 9.796,44.368 C8.52,44.368 7.655,44.862 7.655,45.726 C7.655,48.402 16.096,46.899 16.096,52.437 C16.096,55.381 13.996,57.975 9.611,57.975 C7.738,57.975 5.617,57.728 3.909,56.925 L4.073,53.158 C5.782,53.981 7.655,54.455 9.735,54.455 C11.546,54.455 11.999,53.816 11.999,53.055 C11.999,50.584 3.579,52.025 3.579,46.2" id="Fill-11"></path>
							<path d="M29.746,57.419 C28.428,57.913 27.316,57.975 25.464,57.975 C20.358,57.975 16.879,53.961 16.879,49.39 C16.879,44.717 20.482,40.868 25.834,40.868 C27.213,40.868 28.737,40.909 30.013,41.341 L29.622,45.088 C28.181,44.614 27.152,44.553 25.958,44.553 C22.911,44.553 21.12,46.344 21.12,49.39 C21.12,52.458 23.158,54.208 26.061,54.208 C27.913,54.208 28.49,54.022 29.746,53.611 L29.746,57.419" id="Fill-12"></path>
							<polyline id="Fill-13" points="46.566 51.367 35.758 51.367 35.758 57.646 31.641 57.646 31.641 41.177 35.758 41.177 35.758 47.455 46.566 47.455 46.566 41.177 50.683 41.177 50.683 57.646 46.566 57.646 46.566 51.367"></polyline>
							<path d="M61.452,54.516 C64.684,54.516 67.01,52.87 67.01,49.246 C67.01,45.953 64.684,44.306 61.472,44.306 C58.261,44.306 55.934,45.911 55.934,49.37 C55.934,52.849 58.261,54.516 61.452,54.516 L61.452,54.516 L61.452,54.516 Z M61.513,40.847 C67.174,40.847 71.251,43.77 71.251,49.329 C71.251,55.113 66.845,57.975 61.493,57.975 C56.099,57.975 51.694,55.072 51.694,49.349 C51.694,43.956 55.708,40.847 61.513,40.847 L61.513,40.847 L61.513,40.847 Z" id="Fill-14"></path>
							<path d="M81.731,54.516 C84.963,54.516 87.289,52.87 87.289,49.246 C87.289,45.953 84.963,44.306 81.751,44.306 C78.54,44.306 76.214,45.911 76.214,49.37 C76.214,52.849 78.54,54.516 81.731,54.516 L81.731,54.516 L81.731,54.516 Z M81.793,40.847 C87.454,40.847 91.53,43.77 91.53,49.329 C91.53,55.113 87.124,57.975 81.772,57.975 C76.378,57.975 71.973,55.072 71.973,49.349 C71.973,43.956 75.987,40.847 81.793,40.847 L81.793,40.847 L81.793,40.847 Z" id="Fill-15"></path>
							<polyline id="Fill-16" points="92.664 41.177 96.781 41.177 96.781 53.734 109.524 53.734 109.524 57.646 92.664 57.646 92.664 41.177"></polyline>
						</g>
					</g>
				</g>
			</svg>
		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.js"></script>
	<script src="js/onepagescroll.js"></script>
	<script src="js/particles/particles.lib.js"></script>
	<script src="/bundle.js"></script>

	<script id="__bs_script__">//<![CDATA[
		document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.12.10.js'><\/script>".replace("HOST", location.hostname));
	//]]></script>

</body>

</html>
