section#ourPeople {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  section#ourPeople #peopleSlider {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 300px;
    width: 100vw;
    overflow-x: scroll; }
    section#ourPeople #peopleSlider .img {
      width: 150px;
      height: 150px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
