section#ourPeople ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  overflow-x: scroll; }
  section#ourPeople ul li {
    width: 200px;
    height: 200px;
    background-color: lightgreen; }
    section#ourPeople ul li.x2 {
      background-color: blue;
      width: 400px; }
