@charset "UTF-8";
body, html {
  margin: 0;
  overflow: hidden;
  transition: opacity 400ms; }

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%; }

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d; }

.onepage-wrapper .section {
  width: 100%;
  height: 100%; }

.onepage-pagination {
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0; }

.onepage-pagination li {
  padding: 0;
  text-align: center; }

.onepage-pagination li a {
  padding: 2px;
  width: 50px;
  height: 7px;
  margin: 10px 0px;
  background-color: white;
  display: block;
  transition: height 0.5s, width 0.5s; }
  .onepage-pagination li a:hover {
    height: 12px; }

.onepage-pagination:hover li a {
  width: 75px; }

.onepage-pagination li a.active {
  background-color: #E82E21; }

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto; }

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important; }

.disabled-onepage-scroll .onepage-wrapper {
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%; }

.disabled-onepage-scroll .onepage-pagination {
  display: none; }

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit; }

@font-face {
  font-family: 'NeueDisplay';
  src: url("/fonts/NeueDisplay-Random.woff") format("woff");
  /* Pretty Modern Browsers */
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'NeueDisplay';
  src: url("/fonts/NeueDisplay-Regular Random.woff") format("woff");
  /* Pretty Modern Browsers */
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Neue';
  src: url("/fonts/Neue-Bold.woff") format("woff");
  /* Pretty Modern Browsers */
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'Neue';
  src: url("/fonts/Neue-BoldItalic.woff") format("woff");
  /* Pretty Modern Browsers */
  font-style: italic;
  font-weight: bold; }

@font-face {
  font-family: 'Neue';
  src: url("/fonts/Neue-Regular.woff") format("woff");
  /* Pretty Modern Browsers */
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Neue';
  src: url("/fonts/Neue-RegularItalic.woff") format("woff");
  /* Pretty Modern Browsers */
  font-style: italic;
  font-weight: normal; }

header#header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  padding: 15px 20px;
  background-color: #E82E21;
  width: 140px; }
  header#header a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: "NeueDisplay", sans-serif;
    font-weight: bold;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    display: block; }

.logo-container,
header#header,
.onepage-pagination {
  transition: opacity 0.4s ease-in-out; }

body.show-question section#futureOf .question {
  transition-delay: 1s;
  opacity: 1 !important;
  left: 0; }

section#futureOf {
  position: relative;
  height: 100vh;
  background-color: black;
  color: white; }
  section#futureOf .future-of-slider .future-of-cell {
    width: 100%;
    height: 100vh; }
    section#futureOf .future-of-slider .future-of-cell:first-of-type {
      opacity: 0; }
    section#futureOf .future-of-slider .future-of-cell .video-fs {
      opacity: .8; }
  section#futureOf .question {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.35);
    padding: 1.5vw;
    padding-left: 2vw;
    opacity: 0;
    transition: all 1s ease-in-out;
    max-width: 60vw; }
  section#futureOf h4 {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 7.5s;
    opacity: 0; }
  section#futureOf .section-headlines .dynamic-text {
    transition-delay: 10s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#introBg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #E82E21; }

#introText {
  position: fixed;
  width: calc(100vw - 140px);
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  top: 0;
  left: 0;
  padding-left: 2vw;
  opacity: 0;
  color: white; }
  #introText span {
    display: block;
    max-width: 1100px;
    color: white; }

#fixedLogoText {
  transition: transform 1s ease-in-out; }

#fixedLogo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px; }
  #fixedLogo svg {
    width: 100%;
    overflow: visible; }

section#coreValues .section-intro {
  background-color: #333; }
  section#coreValues .section-intro h1 {
    color: white; }

section#coreValues .core-values-slider {
  height: 100vh; }
  section#coreValues .core-values-slider.uninitialized {
    display: -ms-flexbox;
    display: flex; }
    section#coreValues .core-values-slider.uninitialized .core-values-cell {
      width: auto;
      padding: 0; }
      section#coreValues .core-values-slider.uninitialized .core-values-cell span.close-cell {
        opacity: 0;
        pointer-events: none; }
    section#coreValues .core-values-slider.uninitialized .flickity-canv-next-button {
      opacity: 0; }
  section#coreValues .core-values-slider.content-closed .core-values-cell .content {
    left: calc(50% - 110px);
    width: 220px; }
    section#coreValues .core-values-slider.content-closed .core-values-cell .content h1 {
      font-size: 2vh; }
  section#coreValues .core-values-slider.content-closed + .section-headlines .dynamic-text {
    opacity: 0; }
  section#coreValues .core-values-slider .core-values-cell {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2vw;
    transition: flex 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: flex 0.5s ease-in-out, opacity 0.5s ease-in-out, -ms-flex 0.5s ease-in-out;
    background-color: #333; }
    section#coreValues .core-values-slider .core-values-cell:hover {
      -ms-flex-positive: 1.5;
          flex-grow: 1.5; }
      section#coreValues .core-values-slider .core-values-cell:hover .content h1 {
        border-bottom: 5px solid white; }
    section#coreValues .core-values-slider .core-values-cell.opening {
      -ms-flex-positive: 10;
          flex-grow: 10; }
    section#coreValues .core-values-slider .core-values-cell.sibling-is-opening {
      -ms-flex-positive: 0;
          flex-grow: 0;
      opacity: 0;
      padding: 0; }
    section#coreValues .core-values-slider .core-values-cell #particles-js {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100vw; }
    section#coreValues .core-values-slider .core-values-cell span.close-cell {
      position: absolute;
      top: 100px;
      right: 20px;
      opacity: 1;
      transition: opacity 0.4s ease-in-out; }
      section#coreValues .core-values-slider .core-values-cell span.close-cell:before {
        content: '×';
        color: white;
        font-size: 30pt;
        padding: 20px; }
    section#coreValues .core-values-slider .core-values-cell .content {
      position: absolute;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
      top: 0;
      left: 0;
      height: 100%;
      width: 65vw;
      padding: 2vw;
      overflow: visible;
      -ms-flex-align: center;
          align-items: center;
      transition: all 0.4s ease-in-out;
      pointer-events: none; }
      section#coreValues .core-values-slider .core-values-cell .content .content-inner {
        position: relative;
        width: 100%;
        margin-top: -100px; }
        section#coreValues .core-values-slider .core-values-cell .content .content-inner h1, section#coreValues .core-values-slider .core-values-cell .content .content-inner .dynamic-text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%; }
        section#coreValues .core-values-slider .core-values-cell .content .content-inner h1 {
          text-align: left;
          color: white;
          transition: font-size 0.4s ease-in-out; }
        section#coreValues .core-values-slider .core-values-cell .content .content-inner .dynamic-text {
          opacity: 0;
          color: white; }
    section#coreValues .core-values-slider .core-values-cell canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw; }
    section#coreValues .core-values-slider .core-values-cell #statusQuo canvas {
      cursor: url("/images/status-quo-triangle.png"), auto;
      transform: rotate(90deg); }
    section#coreValues .core-values-slider .core-values-cell #fearless canvas {
      cursor: url("/images/down-cursor.svg"), auto; }

section#coreValues .core-values-cell canvas {
  opacity: 0.2; }

section#coreValues .core-values-cell:hover canvas {
  opacity: 1; }

section#ourUniversity .our-university-slider {
  height: 100vh; }
  section#ourUniversity .our-university-slider.uninitialized {
    display: -ms-flexbox;
    display: flex; }
    section#ourUniversity .our-university-slider.uninitialized .our-university-cell {
      width: auto;
      padding: 0; }
      section#ourUniversity .our-university-slider.uninitialized .our-university-cell span.close-cell {
        opacity: 0;
        pointer-events: none; }
    section#ourUniversity .our-university-slider.uninitialized .flickity-prev-next-button {
      opacity: 0; }
  section#ourUniversity .our-university-slider.content-closed .our-university-cell .content {
    left: calc(50% - 110px);
    width: 220px; }
    section#ourUniversity .our-university-slider.content-closed .our-university-cell .content h1 {
      font-size: 2vh; }
  section#ourUniversity .our-university-slider.content-closed + .section-headlines .dynamic-text {
    opacity: 0; }
  section#ourUniversity .our-university-slider .our-university-cell {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
    -ms-flex-align: center;
        align-items: center;
    width: 100%;
    height: 100vh;
    padding: 2vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: flex 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transition: flex 0.5s ease-in-out, opacity 0.5s ease-in-out, -ms-flex 0.5s ease-in-out; }
    section#ourUniversity .our-university-slider .our-university-cell span.close-cell {
      position: absolute;
      top: 100px;
      right: 20px;
      opacity: 1;
      transition: opacity 0.4s ease-in-out; }
      section#ourUniversity .our-university-slider .our-university-cell span.close-cell:before {
        content: 'x';
        color: white; }
    section#ourUniversity .our-university-slider .our-university-cell .content {
      position: absolute;
      overflow: hidden;
      top: 50%;
      width: 200px;
      left: calc(50% - 100px); }
      section#ourUniversity .our-university-slider .our-university-cell .content h1 {
        font-size: 2vw;
        text-align: center;
        color: white; }
    section#ourUniversity .our-university-slider .our-university-cell:hover {
      -ms-flex-positive: 1.5;
          flex-grow: 1.5; }
    section#ourUniversity .our-university-slider .our-university-cell.opening {
      -ms-flex-positive: 10;
          flex-grow: 10; }
    section#ourUniversity .our-university-slider .our-university-cell.sibling-is-opening {
      -ms-flex-positive: 0;
          flex-grow: 0;
      opacity: 0;
      padding: 0; }
    section#ourUniversity .our-university-slider .our-university-cell:first-of-type {
      background-image: url("http://familiar-temp.s3.amazonaws.com/our-people.jpg"); }
    section#ourUniversity .our-university-slider .our-university-cell:nth-of-type(2) {
      background-image: url("http://familiar-temp.s3.amazonaws.com/our-schools.jpg"); }
    section#ourUniversity .our-university-slider .our-university-cell:last-of-type {
      background-image: url("http://familiar-temp.s3.amazonaws.com/our-network.jpg"); }
  section#ourUniversity .our-university-slider .flickity-prev-next-button {
    opacity: 0;
    transition: opacity 0.4s ease-in-out; }

section#ourPeople {
  transition: background 1s ease; }

#peopleSlider {
  position: relative;
  top: calc(50% - 303px);
  outline: none;
  transition: transform 0.8s ease-in-out; }
  #peopleSlider.out {
    transform: translateX(100vw); }
  #peopleSlider .slider-cell {
    width: 1832px;
    height: 606px;
    overflow: hidden; }
    #peopleSlider .slider-cell .person {
      width: 300px;
      height: 300px;
      color: white;
      position: relative;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-align: end;
          align-items: flex-end;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer; }
      #peopleSlider .slider-cell .person hgroup {
        position: absolute;
        padding: 10px;
        bottom: 0;
        left: 0; }
      #peopleSlider .slider-cell .person p {
        opacity: 0;
        height: 0;
        transition: height 1.5s ease;
        font-size: 18px;
        margin-top: 5px; }
      #peopleSlider .slider-cell .person:hover p {
        height: auto;
        opacity: 1;
        transition: height 1.5s ease, opacity 1.5s ease; }
      #peopleSlider .slider-cell .person.video {
        width: 604px; }
        #peopleSlider .slider-cell .person.video .overlay {
          background-color: rgba(0, 0, 0, 0.1);
          transition: background 1s ease; }
        #peopleSlider .slider-cell .person.video:hover .overlay {
          background-color: rgba(232, 46, 33, 0.7); }
          #peopleSlider .slider-cell .person.video:hover .overlay:before {
            content: url(/images/play-button.svg); }
      #peopleSlider .slider-cell .person .overlay {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.35);
        background-blend-mode: multiply;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: all 1s ease; }
      #peopleSlider .slider-cell .person:not(.video) {
        -webkit-filter: grayscale(1);
                filter: grayscale(1);
        transition: -webkit-filter 1s ease;
        transition: filter 1s ease;
        transition: filter 1s ease, -webkit-filter 1s ease; }
        #peopleSlider .slider-cell .person:not(.video):hover {
          -webkit-filter: grayscale(0);
                  filter: grayscale(0); }
          #peopleSlider .slider-cell .person:not(.video):hover .overlay {
            opacity: .7; }

#personModal {
  position: absolute;
  height: 606px;
  top: calc(50% - 303px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8); }
  #personModal .content {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    #personModal .content video {
      height: 100%; }
  #personModal #closePersonModal {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px; }

section#ourPeople.modal-open {
  background-color: #333; }
  section#ourPeople.modal-open .section-headlines h3 {
    color: white; }
  section#ourPeople.modal-open #personModal {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    background-color: #333; }

section#contactUs {
  display: -ms-flexbox;
  display: flex; }
  section#contactUs > * {
    position: relative;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  section#contactUs .section-headlines h4 {
    color: black; }
  section#contactUs .content {
    background-color: #E1E1E1;
    padding: 5vw 2vw; }
    section#contactUs .content.show-invisible .contact-info .invisible {
      opacity: 1;
      max-height: 500px; }
    section#contactUs .content .contact-info {
      margin-top: 200px; }
      section#contactUs .content .contact-info > p, section#contactUs .content .contact-info h4 {
        color: #E82E21;
        line-height: 1.6em; }
      section#contactUs .content .contact-info p {
        text-transform: uppercase; }
      section#contactUs .content .contact-info .invisible {
        opacity: 0;
        max-height: 0;
        transition: all 0.5s ease-in-out; }
        section#contactUs .content .contact-info .invisible .debbie {
          display: -ms-flexbox;
          display: flex;
          margin: 20px auto; }
          section#contactUs .content .contact-info .invisible .debbie img {
            margin-right: 20px; }
          section#contactUs .content .contact-info .invisible .debbie .contact-details button {
            background-color: #E82E21; }
  section#contactUs aside#asideSlider {
    -ms-flex-order: 2;
        order: 2;
    background-color: #E1E1E1; }
    section#contactUs aside#asideSlider #contactSlider .contact-cell {
      position: relative;
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      section#contactUs aside#asideSlider #contactSlider .contact-cell .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        color: white; }
        section#contactUs aside#asideSlider #contactSlider .contact-cell .content.show-invisible .invisible {
          opacity: 1;
          max-height: 500px; }
        section#contactUs aside#asideSlider #contactSlider .contact-cell .content .invisible {
          opacity: 0;
          max-height: 0;
          transition: all 0.5s ease-in-out; }

body {
  background-color: #E1E1E1;
  color: #333; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Neue", sans-serif;
  box-sizing: border-box; }

p {
  font-size: 22px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "NeueDisplay", sans-serif;
  font-weight: bold; }

h1 {
  font-size: 7.5vh; }

h2 {
  font-family: "Neue", sans-serif;
  font-size: 4.8vh;
  line-height: 1.3; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 24px; }

h5 {
  font-weight: normal;
  font-size: 34px; }

h6 {
  font-size: 18px; }

.global-slider {
  width: 100%;
  overflow: hidden; }

.section-intro {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #E1E1E1;
  padding: 2vw;
  transition: opacity 0.4s ease-in-out; }
  .section-intro.hidden {
    opacity: 0;
    pointer-events: none; }
  .section-intro h1 {
    max-width: 60%; }
    @media (max-width: 1000px) {
      .section-intro h1 {
        max-width: none; } }

.section-headlines {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2vw;
  max-width: 70vw; }
  .section-headlines .dynamic-text {
    transition: opacity 0.4s ease-in-out; }
  .section-headlines p {
    margin-top: 8px; }

.dark-section {
  color: white; }

.video-fs {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-image: none;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .video-fs video {
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    width: auto;
    height: 100vh; }

.placeholder-fs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  width: 100%; }
  .placeholder-fs h1 {
    font-size: 6vh;
    text-align: center; }
  .placeholder-fs .half-screen {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    width: 50%;
    height: 100%; }
    .placeholder-fs .half-screen:first-of-type {
      border-right: 1px solid gray; }
    .placeholder-fs .half-screen h2 {
      font-size: 3vh;
      text-align: center; }

section > .placeholder-fs {
  border-bottom: 1px solid gray; }
